span.input-group-text {
    width: 100%;
}

.input-group-append {
    width: 70%;
}
.checkSegundo {
	position: absolute !important;
}
h5{
	margin: auto;
}

.rowRadio{
	margin-bottom: 10px;
}

.DropInput.col{
    padding: 0px;
}