table#monthTable{
	width:20%; 
    margin-left:5%; 
    margin-right:5%;
}

table, td, td {
   border: 1px solid black;
   font-size: 12px !important;
}

tr td{
	width: 30px !important;
	height: 20px !important;
}
td input{
	width: 100%;
}
