.listMenu{
    min-width: 100%;
}
.filaMenu, .filaFinalizar{
    display: block;
}

li.filaMenu a {
    color: white;
}

li.filaFinalizar a {
    color: white;
}

.menu{
    background-color: #43244e;
}
.menu li.filaFinalizar {
    background-color: black;
}
.menu.col-sm-4 {
    padding-right: 0px;
}

.menu a {
    display: block;
    padding-left: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;  
    text-align: left;
    min-width: 100%
}

.menu a:hover {
    background-color: #00cba0; 
    text-decoration: none;
    color: white;
}



