.listMenu{
    min-width: 100%;
    padding-bottom: 100px;
}

.menu{
    background-color: #43244e;
    margin-top: 0.4%;
    margin-left: 40px;
    margin-bottom: 0.4%;
    /* background: white; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
}
.menu a {
    background-color: #43244e; 
    color: white; 
    display: block;
    padding-left: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;  
    text-align: left;
    min-width: 100%
}


.menu a:hover {
    background-color: #00cba0; 
    text-decoration: none;
    color: white;
}



.filaMenu{
    text-align: left;
    color:blue;
    display: block;

}

.contentMenu {
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    margin-left: 4.2%;
}   

