.listMenu{
    min-width: 100%;
}

.menu{
    background-color: #43244e;
}
.menu a {
    background-color: #43244e; 
    color: white; 
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;  
    text-align: left;
    min-width: 100%
}

.menu a:hover {
    background-color: #00cba0; 
    text-decoration: none;
    color: white;
}



li{
    text-align: left;
    color:blue;
    display: block;

}
