
img {
  margin : 30px;
}



.Header {
    margin: auto;
    background-color: #00cba0;
    min-width: 97.4%;
    height: 23%;
    position: initial;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
}

.tituloHeader {
  text-align: center;
  margin-top: 60px;
  color : white;
}
.tituloHeader h1{
  font-size: 50px
}

.tituloHeader h6{
  font-size: 21px
}

#Unicen{
  height: 180px;
  margin-right: 20px
}
#Logo{
  height: 180px;
}
