
img {
  margin : 30px;
}



.Header {
  margin: auto;
  background-color: #00cba0;
  min-width: 100%;
}

.tituloHeader {
  text-align: right;
  margin-top: 60px;
  color : white;
}
.tituloHeader h1{
  font-size: 50px
}

.tituloHeader h6{
  font-size: 21px
}

#Unicen{
  height: 180px;
  margin-right: 20px
}
#Logo{
  height: 180px;
}
